<head>
<meta name="viewport" content="width=device-width">
<meta charset="UTF-8">

<title>{% if page.title %}{{page.title}} | {{ site.title }} {% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.excerpt}}{% endif %}">
{% if site.facebook %}
  <!-- Facebook -->
  <meta property="fb:app_id" content="{{ site.facebook_appid }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{page.title}} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{ site.excerpt }}{% endif %}">
  <meta property="og:image" content="{% if page.image %}{{site.url}}{{page.image}}{% else %}{{site.url}}{{site.socialimg}}{% endif %}">
  <meta property="og:url" content="{{site.url}}{{page.url}}">
  <meta property="og:site_name" content="{{ site.title }}">
{% endif %}
{% if site.twitter %}
  <!-- Twitter -->
  <meta name="twitter:site" content="@{{site.twitter}}">
  <meta name="twitter:creator" content="@{{site.twitter}}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{page.title}} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{ site.excerpt }}{% endif %}">
  <meta property="twitter:image" content="{% if page.image %}{{site.url}}{{page.image}}{% else %}{{site.url}}{{site.socialimg}}{% endif %}">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
<link rel="stylesheet" href="{{site.dir_css}}style.css" type="text/css">
</head>
